# Puerto del servidor
PORT=5000

# Credenciales de Twilio (reemplaza con las tuyas en .env local)
TWILIO_ACCOUNT_SID=TU_ACCOUNT_SID
TWILIO_AUTH_TOKEN=TU_AUTH_TOKEN
TWILIO_PHONE_NUMBER=+1TU_NUMERO_TWILIO

# Número de prueba para enviar SMS
TEST_PHONE_NUMBER=+573105333704